---
// This file forces a redirect from /bright-forge-seo to the homepage
---

<meta http-equiv="refresh" content="0;url=/" />
<script>
  window.location.href = '/';
</script>

<body>
  <p>Redirecting to <a href="/">homepage</a>...</p>
</body>
